<!DOCTYPE html>
    <head>
        <title>Surkhiya</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h1 class="text-center">Surkhiya</h1>
                        <hr>
                </div>
            </div>
          
        </div>
        <div class="container">
            {% for new,des,ig,pd,nu in mylist %}
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ nu }}" target="_blank"><h4>{{new}}</h4></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ig}}" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h6 class="text-danger text-right">{{ pd }}</h6>
                    <p>{{ des }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
            
    </body>